<a href="https://ko-fi.com/hgiesel" rel="nofollow"><img src="https://i.imgur.com/zlUIlJp.png"></a>

This add-on will make the editor window for review persistent.
On the front of the card, the fields will be obscured, so the answer to the flashcard cannot be read. On the back of the card, all fields will be revealed.

<img src="https://gitlab.com/hengiesel/anki_persistent_editor/-/raw/master/images/demo.gif">

There are two important shortcuts:

<ul><li><code>e</code>: will trigger the editor window.
This is identical to the standard Anki behavior.
Clicking <code>e</code> again will bring focus to the editor window. 

</li><li><code>c</code>: will flip the card, going to the front, if you're on the back and vice versa.
Before creating this add-on, I typically used the editor shortcut to go back to the front of the card. This is no longer possible, the editor shortcut won't change which side of the card is displayed. For this reason, you can this shortcut to have the old functionality.
This shortcut is configurable in the add-on settings under "Tools &gt; Add-ons &gt; Persistent Editor &gt; Config".</li></ul>
If you do not like the "obscuring" behavior, then you can use something called "presentation mode". This makes the Editor work the same for the front side and back side. Under "Tools &gt; Add-ons &gt; Persistent Editor &gt; Config" you can put the editor window into presentation mode by default. There is a shortcut to easily switch between those modes, which defaults to "Ctrl+P".

Updates:
* <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.1.0" rel="nofollow">v0.1.0</a>. <a href="https://www.reddit.com/r/Anki/comments/hqezyv/persistent_editor_during_review_addon/" rel="nofollow">On Reddit</a>. <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.1.1" rel="nofollow">v0.1.1</a>.
* <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.2.0" rel="nofollow">v0.2.0</a>.  <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.2.1" rel="nofollow">v0.2.1</a>.  <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.2.2" rel="nofollow">v0.2.2</a>.
* <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.3.0" rel="nofollow">v0.3.0</a>. <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.3.1" rel="nofollow">v0.3.1</a>. <a href="https://github.com/hgiesel/anki_persistent_editor/releases/tag/v0.3.2" rel="nofollow">v0.3.2</a>.
